@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

* {
  font-family: "Outfit", sans-serif;
}

@theme {
  --color-primary: #5044e5;
}

.reset-tw,
.reset-tw * {
  all: revert !important;
}

.cl-drawerRoot {
  z-index: 10;
}

/* src/styles/global.css or index.css */

/* Force Prism code block styles like VS Code */
pre[class*="language-"] {
  background: #1e1e1e !important; /* VS Code dark background */
  color: #d4d4d4 !important ;     /* default text color */
  padding: 0.5rem !important;
  border-radius: 0.5rem !important;
  overflow-x: auto /* optional horizontal scroll */;
}

code[class*="language-"] {
  font-family: 'Fira Code', monospace;
  font-size: 0.9rem;
}
